<h1 id="tableLabel">Stars</h1>

<p *ngIf="game.game_status=='waiting'">Let's Align</p>

<div class="table-row">
  <table class="table-player-data" *ngIf="game.game_id" border="1" style="border-collapse: collapse;">
    <thead>
      <tr>
        <th *ngFor="let hand of game.hands; let i = index">
          P. {{ i + 1 }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngFor="let hand of game.hands">
          <span *ngFor="let domino of hand; let j = index">
            [{{ domino.highValue }}|{{ domino.lowValue }}]
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <table *ngIf="game.game_id" border="1" style="border-collapse: collapse;">
    <tbody>
      <tr>
        <th>Game Name</th>
        <td>{{ game.game_name }}</td>
      </tr>
      <tr *ngFor="let slot of game.arena; let i = index">
        <th>Arena Slot {{ i + 1 }}</th>
        <td>
          <ng-container *ngIf="game.arena; else emptySlot">
            [{{ slot.highValue }}|{{ slot.lowValue }}]
          </ng-container>
          <ng-template #emptySlot>
            <em>Empty</em>
          </ng-template>
        </td>
      </tr>
      <tr>
        <th>ScoreCard</th>
        <td>{{ game.score }}</td>
      </tr>
      <tr>
        <th>Turn Order</th>
        <td>{{ game.turn_order }}</td>
      </tr>
      <tr>
        <th>Current Player Turn</th>
        <td>{{ game.current_player_id }}</td>
      </tr>
      <tr>
        <th>Dealer</th>
        <td>{{ game.dealer }}</td>
      </tr>
      <tr>
        <th>Round Leader</th>
        <td>{{ game.roundLeader }}</td>
      </tr>
      <tr>
        <th>Spade</th>
        <td>{{ game.spade }}</td>
      </tr>
      <tr>
        <th>Highest Bid</th>
        <td>{{ game.highestBid }}</td>
      </tr>
      <tr>
        <th>Winning Bid</th>
        <td>{{ game.winningBid }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-game-container">

</div>
<div class="form-row" *ngIf="game.game_status=='bidding'">
  <div class="buttons">
    <button (click)="placeBidClick()">Place Bid</button>
  </div>
  <div class="inputs">
    <input type="text"
           [(ngModel)]="bid"
           (keydown.enter)="placeBidClick()"
           placeholder="Enter bid..." />
  </div>
</div>
<div class="container" *ngFor="let domino of game.hands[0]; let i = index">
  <div class="buttons">
    <button (click)="playDominoClick(i)">[{{domino.highValue}}|{{domino.lowValue}}]</button>
  </div>
</div>

<div class="container" *ngIf="game.game_status=='waiting'">
  <div class="form-row">
    <div class="buttons">
      <button (click)="createGameClick()">Create Game</button>
    </div>
    <div class="inputs">
      <input type="text"
             [(ngModel)]="userEnteredGameName"
             (keydown.enter)="createGameClick()"
             placeholder="Enter name..." />
    </div>
  </div>

  <div class="form-row">
    <div class="buttons">
      <button (click)="onInputEnter()">Load Game</button>
    </div>
    <div class="inputs">
      <div class="search-wrapper">
        <input type="text"
               [(ngModel)]="searchQuery"
               (focus)="onInputClick()"
               (blur)="hideSuggestions()"
               (keydown.enter)="handleEnter()"
               placeholder="Search..." />

        <ul class="dropdown" *ngIf="showSuggestions && filteredList  && filteredList.length">
          <li *ngFor="let item of filteredList" (mousedown)="selectSuggestion($event)">
            {{ item }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

